body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
}



/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo{
    padding: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #2196F3;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
}

.nav-links a:hover {
    color: rgb(0, 123, 255);
    border-bottom: 1px solid #BBDEFB;
    transition: 0.5;
}

.menu-toggle {
    color: #333;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    color: #fff;
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    nav{
        background-color: rgb(0, 123, 255);
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgb(0, 123, 255);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        padding: 10px;
        margin-top: 70px;
    }

    .nav-links li {
        opacity: 0;
        padding: 20px;
        border-bottom: 1px solid white;
    }

    .nav-links li a{
        color: #fff;
    }

    .nav-links a:hover {
        color: rgb(138, 191, 248);
    }

    .menu-toggle {
        display: flex;
    }

    .close-menu {
        display: block;
        cursor: pointer;
        margin: 20px 0;
    }
}

.nav-active {
    transform: translateX(0);
}

.nav-active .close-menu {
    display: block;
    font-size: 24px;
    color: #fff;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav-active li {
    opacity: 1;
    animation: navLinkFade 0.5s ease forwards 0.3s;
}

.menu-toggle.toggle .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.toggle .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.toggle .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*end of nav*/



/*hero*/
.hero{
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.900);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(hero3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1{
    color: #2196F3;
    font-weight: bold;
}
.hero a{
    color: #E0E0E0;
    background-color: #2196F3;
    padding: 13px;
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 20px;
}.hero a:hover{
    background-color: #1E1E1E;
    color: rgb(0, 123, 255);
}

.hero p{
    background-color:rgba(255, 255, 255, 0.900) ;
    
    padding: 1px;
    color: #333333;
    padding-top: 0.1px;
}


/*end of hero*/



/*services*/
#servicos {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    color: #BBDEFB;
    font-size: 2rem;
    margin-bottom: 15px;
}

.servicos-descricao {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

.servicos-grid {
    display: grid;
    gap: 20px;
}

.servico {
    text-align: left;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icone {
    text-align: center;
    margin-bottom: 15px;
}

.icone img {
    width: 64px; /* ajuste o tamanho conforme necessário */
    height: 64px; /* ajuste o tamanho conforme necessário */
}

.servico h3 {
    color: #BBDEFB;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.servico p {
    font-size: 1rem;
    color: #A0A0A0;
}
/*end of services*/



/* membros da equipe */
#equipe {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    color: #BBDEFB;
    font-size: 2rem;
    margin-bottom: 15px;
}

.equipe-descricao {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

.equipe-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centraliza os membros */
}

.membro {
    background-color: #1E1E1E;
    text-align: center; /* Centraliza conteúdo */
    position: relative;
    width: 200px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.membro img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0; /* Arredonda apenas a parte superior */
}

.membro-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 123, 255);
    color: #fff;
    padding: 5px 10px;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.membro:hover .membro-info {
    opacity: 1;
}

.nome-membro {
    margin: 10px 0;
    font-weight: bold;
}

@media (max-width: 768px) {
    .membro {
        width: calc(50% - 20px); /* Para 2 membros por linha */
        max-width: 200px; /* Limita o tamanho máximo */
    }
}
/* end of membros da equipe */



/*contacto*/
#contato {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    color: #BBDEFB;
    font-size: 2rem;
    margin-bottom: 30px;
}

.info-contato {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.info {
    background-color: #1E1E1E;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info a{
    color: #BBDEFB;
    text-decoration: none;
}

.info h3 {
    color: #BBDEFB;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.info p {
    font-size: 1rem;
    color: #A0A0A0;
}

.formulario {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #1E1E1E;
}

.formulario textarea {
    height: 150px;
}

.formulario button {
    background-color: #2196F3;
    color: #E0E0E0;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #1976D2;
}
/*end of contacto*/



 /*footer*/
 footer {
    background-color: #003572;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 10pt;
  }
  .social-media{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social-media ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-links ul, .social-media ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
  }
  .footer-links ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .footer-links ul li, .social-media ul li {
    margin-bottom: 10px;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .developer-info p {
    margin: 10px 0;
  }
  .developer-info a {
    text-decoration: none;
    color: orange;
  }
/*end of footer*/



/*mission-vision*/
  .intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #1E1E1E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.intro h1 {
    color: #BBDEFB;
    margin-bottom: 15px;
}

.intro p {
    color: #666666;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

.mission-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: #1E1E1E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    color: #BBDEFB;
    margin-bottom: 15px;
}

.card p {
    color: #666666;
    line-height: 1.6;
}
  /*end of mission-vision*/